<footer class="bg-dark text-center text-lg-start mt-8 fixed-bottom ">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); color: white;">
      © 2020 Copyright:
      <a href="#" style="color: rgb(159, 142, 142);">ERSystem</a>
    </div>
    <!-- Copyright -->
</footer>